<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="theme-color" content="#000000" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
	<title>Teste Djangop+React</title>
	{% load static %}
</head>

<body>
	<noscript> You need to enable JavaScript to run this app. </noscript>
	<div id="main">
		<div id="app"></div>
	</div>

	<script src="{% static "frontend/main.js"%}"></script>
</body>

</html>